/* Laptop */
		
@media (min-width: 1024px) {
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: rgb(113, 113, 113);
}
 
.container {
    width: 100%;
    background-color: #f5f7fa;
    margin: 0;
    justify-content: space-between;
    overflow: hidden;
}
 
.logo {
    width: 15%;
    margin-left: -10%;
}
.burger {
   display: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2%;
    width: 90%;
    margin: auto;
}

nav ul {
    list-style: none;
    text-align: center;    
}

nav ul li {
    display: inline-block;
    margin: 5% 0%;
    margin-right: 0;
}

nav ul li a {
    padding-right: 40px;
    color: black;
    text-decoration: none;
}
nav ul li a:hover {
    color: rgb(35, 146, 35);
}
.section1 {
    background-color: #f5f7fa;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 5%;
    padding-left: 5%;
}

.text-container {
    width: 80%;
    margin-top: 5%;
}
.text-container p{
    margin-top: 5%;
}

main h1{
    font-size: 400%;
    font-family: sans-serif;
}
.title{
    color: black;
} 
#from8{
    color: green;
}

#login {
    color: rgb(32, 164, 32); 
    font-weight: 500;
}
#login:hover{
    color: #0d5810;
}

#signup {
    color: white;
    background-color: rgb(47, 150, 47);
    padding: 10px 20px;
    border-radius: 6px;
}
#signup:hover{
    background-color: rgb(12, 83, 12);
}

#register{
    color: white;
    text-decoration: none;
    background-color: green;
    margin-top: 5%;
    border-radius: 6px;
    display: inline-block;
    padding: 15px 35px;
}

#register:hover{
    background-color: rgb(12, 83, 12);
}
.main-image{
    width: 70%;
    padding-left: 10%;
}
.main-image img{
    width: 80%;
}

.section2{
    display: flex;
    flex-direction: column;
    padding-top: 5%;
}

.our-clients{
    margin-bottom: 10%;
    justify-content: center;
}

.our-clients h3{
    color: #333;
    font-size: 300%;
    font-weight: 700;
    text-align: center;
}
.logos2-cont{
    width: 80%;
    margin-left: auto;
}

#logo2{
    padding-right: 10%;
}

.our-clients p{
    font-size: 100%;
    width: 100%;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}
.manage{
    margin-bottom: 10%;
    justify-content: center;
}
.manage h3{
    color: #333;
    font-size: 300%;
    font-weight: 700;
    text-align: center;
    width: 50%;
    margin-left: 25%;
}
.manage p{
    font-size: 100%;
    width: 100%;
    text-align: center;
    margin-top: 2%;
}

.section3{
    display: flex;
    align-items: center; 
    margin-bottom: 10%;
    width: 100%;
    justify-content: center;
    align-items: end;
}
.section3 .membership, .national, .clubs{
    width: 30%;
    justify-items: center;
}

.section3 .membership h3, .national h3, .clubs h3{
    font-size: 180%;
    font-weight: 600;
    width: 40%;
    color: #666;
    text-align: center;
}

.section3 .membership p, .national p, .clubs p{
    text-align: center;
    margin-top: 5%;
    width: 50%;
    padding-bottom: 5%;
    box-shadow: 0 3px 0 rgba(114, 114, 114, 0.1); 
}

.section4{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    margin-left: 10%;
}
.section4 .section4-image{
    display: flex; 
    justify-content: center;
    margin-right: 10%;
}

.section4 .section4-text{
    width: 50%; 
    margin-left: 5%;    
}
.section4 .section4-text h2{
    margin-bottom: 2%; 
    font-size: 240%;
    color: #666;
}

.section4 .section4-text p{
    font-size: 100%;
    margin-top: 5%;
    margin-bottom: 2%;
    word-spacing: 3px;
    line-height: 1.4;    
}

.section4  a{
    text-decoration: none;
    color: white;
    background-color: rgb(30, 163, 30);
    padding: 3% 5%;
    border-radius: 6px;
    margin-top: 3%; 
    display: inline-block;
}

.section5{
    background-color: #f5f7fa;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 5%;
    margin-bottom: 10%;
}

.section5 .text-container{
    width: 40%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    
}
.section5 .text-container h2{
    width: 80%;
    font-size: 240%;
}

.section5 .text-container p{
    width: 90%;
    font-size: 100%;
    margin-top: 3%;
}

.stats-container{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 50%;
    padding-bottom: 5%;
}

.stats-container img{
    width: 30%;
    margin-right: 10%;
}

.stats-container .stat1-2, .stat3-4{
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin-top: 5%;
    align-items: center;
}

.stats-container .stat1-2 p{
    color: #666;
    font-weight: 700;
    font-size: 180%;
}

.stats-container .stat3-4 p{
    color: #666;
    font-weight: 700;
    font-size: 180%;
}
.stat1, .stat2, .stat3, .stat4{
    display: flex;
    align-items: center;
    width: 45%;
}

.section6{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.section6 .section6-image{
    display: flex; 
    justify-content: center;
    margin-right: 10%;
}
.section6 .section6-image img{
    width: 90%;
}

.section6 .section6-text{
    width: 60%; 
    margin-left: 5%; 
}
.section6 .section6-text h2{
    margin-bottom: 2%; 
    font-size: 240%;
    color: #666;
}

.section6 .section6-text p{
    font-size: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    word-spacing: 3px;
    line-height: 1.4; 
}

.section6  a{
    text-decoration: none;
    color: white;
    background-color: rgb(30, 163, 30);
    padding: 3% 5%;
    border-radius: 6px;
    margin-top: 3%; 
    display: inline-block;
}

.tim-smith{
    background-color: #f5f7fa;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5% 0;
    justify-content: center;
 
} 
.tim-smith .tim-smith-image{
    width: 80%;
    border-radius: 3%;
    margin-left: 5%;
}

.tim-smith .tim-smith-image img{
    width: 100%;
    border-radius: 3%;
}

.tim-smith-text{
    margin-left: 10%;
}
.tim-smith p{
    font-family: sans-serif;
    width: 90%;
    word-spacing: 5%; 
    line-height: 1.4;    
    font-weight: 400;
    font-size: 100%;
    margin-bottom: 2%;
}
.tim-smith .tim-smith-text .bottom-image img{
    margin-top: 5%;
}

.tim-smith a{
    margin-left: 10%;
    text-decoration: none;
    color: rgb(67, 156, 67);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    font-weight: 600;
}
.section7{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.section7 .title{
    font-size: 220%;
    font-weight: 600;
    color: #666;
}

.title-box{
    padding: 5%;
    width: 100%;
    text-align: center;
}
.title-box p{
    width: 45%;
    font-size: 100%;
    margin-top: 2%;
    word-spacing: 2%; 
    line-height: 1.4;  
    margin-left: 30%;
}

.cart-container{
    display: flex;
    flex-direction: row;
    width: 85%;
    justify-content: center;
}

.cart{
    width: 80%;
    margin-left: 2%;
    margin-bottom: 10%;
}

.cart > img {
    width: 100%;
}

.detail-box{
    width: 85.2%;
    margin-top: -25%;
    border-radius: 8px;
    padding: 5%;
    font-size: 50%;
    color: #71771;
    text-decoration: solid;
    background-color: #f5f7fa;
    text-align: center;
    margin-left: 7.5%;
    box-shadow: 2px 5px 5px hsl(0, 0%, 85%);
}
.detail-box h3{
    font-size: 250%;
}
.detail-box .text-3{
    width: 90%;
    margin-left: 5%;
}

.readmore{
    padding-top: 20%;
    padding-bottom: 5%;
}
.readmore a{
    text-decoration: solid;
    font-weight: 20;
    font-size: 250%;
    color: #4CAF50;
}

.Pellentesque{
    display: flex;
    flex-direction: column;
    background-color: #f5f7fa;
    padding-bottom: 2%;
}
.Pellentesque h1{
    color: #474646;
    text-align: center;
    width: 70%;
    padding: 5%;
    margin-left: 15%;
    font-weight: 600;
    font-size: 400%;
}
.Pellentesque a{
    margin-left: 45%;
    background-color: #2e9532;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 1.7% 1.7%;
    border-radius: 6px;
    font-size: 100%;
    width: 15%;
}
.Pellentesque a:hover{
    background-color: rgb(12, 83, 12);
}
footer{
    background-color: #273339;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 3%;
}
footer a{
    text-decoration: none;
    font-size: 90%;
    padding: 1%;
    font-family: sans-serif;
    color: white;
    padding-bottom: 5%;
}
.logo-container{
    width: 25%;
    justify-content: center;
    margin-left: 5%;
}
.logo-container p{
    font-size: 90%;
    font-weight: 50%;
    color: white;
    margin-top: 15%;
    margin-bottom: 15%;
}

.company-container{
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: center;
    margin-left: 20%;
    margin-bottom: 5%;
}

.company-container h4{
    font-size: 160%;
    color: white;
    margin-bottom: 5%;
}

.support-container{
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: center;
    margin-left: -5%;
    margin-bottom: 5%;
}

.support-container h4{
    font-size: 120%;
    color: white;
    margin-bottom: 5%;
}

.email{
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: center;
    margin-top: -11%;
    margin-left: -5%;
}

.email h4{
    font-size: 120%;
    color: white;
    margin-bottom: 5%;
}

 #email-link{
    background-color: hwb(0 40% 60% / 0.5);
    color: rgb(155, 155, 155);
    padding: 3% 7%;
    border-radius: 5px;
    width: 60%;
    margin-bottom: 5%;
}
.email a:hover{
    background-color: rgb(92, 179, 92);
}
}

/* tablet */

@media (min-width:768px) and (max-width: 1024px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
        color: rgb(113, 113, 113);
    }
     
    .logo {
        width: 25%;
        margin-left: 5%;
        margin-right: 8%;
        margin-top: 2%;
    }
    nav{
        background-color: #f5f7fa;
    }

     ul {
        border: rgb(6, 113, 15) solid;
        display: none;
        flex-direction: column;
        width: 30%;
        background-color: #2c902f;
        border-radius: 5px;
        position: absolute;
        padding: 5%;
        margin-left: 69%; 
    }
    
    ul li {
        width: 100%;
        text-align: center;
        margin: 10px 0;
        list-style: none;
    }
    .burger {
        margin-left: 90%;
        display: flex;
        width: 5%;
        margin-top: -7%;
    
    }
    ul li a {
        color: white;
        text-decoration: none;
        font-size: 140%;
        font-weight: 600;
    }
    #login {
        color: rgb(7, 35, 7); 
        font-weight: 700;
    }
    #login:hover{
        color: #0d5810;
    }
    
    #signup {
        color: white;
        background-color: rgb(21, 64, 21);
        padding: 5% 10%;
        border-radius: 6px;
    }
    #signup:hover{
        background-color: rgb(12, 83, 12);
    }
    
    #toggle:checked ~ ul {
        display: flex;
        flex-direction: column;
    }
    
    .section1 {
        background-color: #f5f7fa;
        display: flex;
        align-items: center;
        justify-items: center;
        padding-top: 10%;
        padding-bottom: 5%;
        padding-left: 10%;
    }
    
    .text-container {
        width: 50%;
        margin-top: 10%;
    }
    main .text-container p{
        font-size: 110%;
        margin-top: 10%;
        width: 60%;
    }
    
    main h1{
        font-size: 240%;
    }
    .title{
        color: black;
    } 
    #from8{
        color: green;
    }
    main img{
        width: 60%;
        margin-left: 25%;
    }
    
    #register{
        color: white;
        text-decoration: none;
        background-color: green;
        margin-top:6%;
        border-radius: 6px;
        display: inline-block;
        padding: 3% 5%;
        font-size: 100%;
    }
    
    #register:hover{
        background-color: rgb(12, 83, 12);
    }
    
    .section2{
        display: flex;
        flex-direction: column;
        padding-top: 5%;
        align-items: center;
    }

    .our-clients{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin-bottom: 5%;
        padding-bottom: 5%;
        border-bottom: 2px solid ;
    }

    .our-clients h3{
        text-align: center;
        color: #333;
        font-size: 230%;
        font-weight: 700;
    }
   .our-clients .logos2-cont{
    width: 60%;
    margin-top: 3%;
   }

   .section2 .logos2-cont img{
    width: 15%;
    aspect-ratio: 4/3;
    object-fit: contain;
    mix-blend-mode: color-burn;
   }
    .our-clients p{
        font-size: 130%;
        padding-top: 2%;
        text-align: center;
    }
    .manage{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin-bottom: 5%;
        padding-bottom: 5%;

    }
    .manage h3{
        text-align: center;
        color: #333;
        font-size: 230%;
        font-weight: 700;
        width: 60%;
        line-height: 1.4;
    }
    .manage p{
        font-size: 130%;
        padding-top: 2%;
        text-align: center;  
    }
    
    .section3{
        display: flex;
        flex-direction: column;
        align-items: center; 
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .section3 .membership, .national, .clubs{
        width: 70%;
        justify-items: center;  
        margin-bottom: 10%; 
        border: #474646 2px solid;
        border-radius: 20px;
        padding-top: 3%;
        padding-bottom: 3%;
    }
    .section3 .membership p, .national p, .clubs p{
        text-align: center;
        margin-top: 5%;
        font-size: 130%;
        width: 80%;
    }
    .section3 h3{
        font-size: 200%;
    }
    .section3 img{
        width: 160%;
    }
    
    .section4{
        width: 80%;
        display: flex;
        flex-direction: row;
        align-items: center; 
        align-items: center; 
        margin: auto;
        margin-bottom: 2%;
    }

    .section4 .section4-image img{
        width: 100%;
    }

    .section4 .section4-text{
        width: 60%;
        padding-left: 5%;
        padding-right: 5%;  
    }
    .section4 .section4-text h2{
        width: 100%; 
        margin-bottom: 2%; 
        margin-top: 3%;
        font-size: 220%;
    }

    .section4 .section4-text p{
        font-size: 110%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .section4  a{
        text-decoration: none;
        color: white;
        background-color: green;
        padding: 4% 5%;
        border-radius: 6px;
        margin-top: 3%; 
        display: inline-block;
    }
    
    .section5{
        background-color: #f5f7fa;
        display: flex;
        flex-direction: column;
        align-items: center; 
        margin: auto;
        padding-bottom: 5%;

    }
    
    .section5 .text-container{
        display: flex;
        flex-direction: column;
        align-items: center;  
        text-align: center;  
    }
    
    .section5 .text-container h2{
        font-size: 320%;
    }

    .section5 .text-container p{
        width: 100%;
        font-size: 140%;
        margin-top: 5%;
    }

    .stats-container{
        display: flex;
        width: 80%;
    }

    .stats-container img{
        width: 60%;
        object-fit: contain;
    }


    .stats-container .stat1-2, .stat3-4{
        display: flex;
        width: 50%;
        justify-content: center;
        margin: auto;
        margin-bottom: 3%;
        margin-top: 5%;
        align-items: center;
    }
    .stats-container .stat1, .stat2, .stat3, .stat4{
        display: flex;
        flex-direction: column;
        width: 35%;
        justify-content: center;
        margin: auto;
        align-items: center;
    }
    .stats-container .stat3{
        margin-top: 5%;
    }

    .stats-container h3{
        font-size: 190%;
        text-align: center;
    }
  
    .stats-container p{
        font-size: 200%;
        font-weight: 800;
        color: #474646;
        text-align: center;
    }

    .section6{
        width: 80%;
        display: flex;
        flex-direction: row;
        align-items: center; 
        align-items: center; 
        margin: auto;
        margin-bottom: 2%;
    }

    .section6 .section6-image img{
        width: 80%;
    }

    .section6 .section6-text{
        width: 60%;
        padding-left: 5%;
        padding-right: 5%;  
    }
    .section6 .section6-text h2{
        width: 100%; 
        margin-bottom: 2%; 
        margin-top: 3%;
        font-size: 220%;
    }

    .section6 .section6-text p{
        font-size: 110%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .section6  a{
        text-decoration: none;
        color: white;
        background-color: green;
        padding: 4% 5%;
        border-radius: 6px;
        margin-top: 3%; 
        display: inline-block;
    }
    
    .tim-smith{
        background-color: #f5f7fa;
        display: flex;
        flex-direction: row;
        margin: auto;
        padding: 5%;
    } 

    .tim-smith .tim-smith-image img{
        height: 300px;
        border-radius: 30px;
    }

    .tim-smith-text{
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 80%;
        justify-content: center;
        margin-left: 5%;
    }
    .tim-smith p{
        font-family: sans-serif;
        width: 90%;
        word-spacing: 5%; 
        line-height: 1.4;    
        font-weight: 400;
        font-size: 110%;
        margin-bottom: 3%;
    }
    .tim-smith h4, h5{
        font-size: 120%;
        margin-bottom: 2%;
    }

    .tim-smith a{
        margin-left: 10%;
        text-decoration: none;
        color: rgb(67, 156, 67);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 110%;
        font-weight: 600;
    }
    .section7{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5%;
    }
    .section7 .title{
        text-align: center;
        color: #333;
        font-size: 230%;
        font-weight: 700;
    }
    
    .title-box{
        padding-bottom: 5%;
        width: 100%;
        text-align: center;
    }
    .title-box p{
        font-size: 110%;
        word-spacing: 2%; 
        line-height: 1.4;
        width: 80%; 
        justify-content: center;
        margin: auto;
        margin-top: 2%;
    }
    
    .cart-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .cart{
        width: 60%;
        margin-bottom: 15%;
    }

    .cart > img {
        width: 100%;
    }
    
    .detail-box{
        margin-top: -25%;
        border-radius: 8px;
        padding: 10%;
        font-size: 80%;
        color: #717171;
        text-decoration: solid;
        background-color: #f5f7fa;
        width: 85%;
        text-align: center;
        margin-left: 7.7%;
        box-shadow: 5px 10px 5px hsl(0, 0%, 85%);
    }
    .detail-box h3{
        font-size: 250%;
    }

    .readmore{
        padding-top: 20%;
        padding-bottom: 5%;
    }
    .readmore a{
        text-decoration: solid;
        font-weight: 20;
        font-size: 250%;
        font-weight: 600;
        color: #4CAF50;
    }
    
    .Pellentesque{
        background-color: #f5f7fa;
        text-align: center;
        padding: 10%;
        padding-bottom: 10%;
        padding-top: 5%;
    }
    .Pellentesque h1{
        text-align: center;
        justify-content: center;
        margin: auto;
        width: 80%;
        padding: 10%;
        font-weight: 600;
        font-size: 280%;
    }
    .Pellentesque a{
        background-color: #2e9532;
        text-decoration: none;
        color: white;
        padding: 3% 5%;
        border-radius: 10px;
        font-size: 160%;
    }
    .Pellentesque a:hover{
        background-color: rgb(12, 83, 12);
    }
    footer{
        background-color: #273339;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 5%;
    }
    footer a{
        text-decoration: none;
        font-size: 120%;
        padding: 1%;
    }
    .logo-container{
        margin-top: 5%;
        /* width: 180%; */
        justify-content: center;
        margin-left: 5%;
        margin-bottom: 5%;
    }
    .logo-container p{
        font-size: 100%;
        font-weight: 50%;
        color: white;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .company-container{
        display: flex;
        flex-direction: column;
        width: 90%;
        justify-content: center;
        margin-left: 5%;
        margin-bottom: 5%;
    }

    .company-container h4{
        font-size: 140%;
        color: white;
        margin-bottom: 5%;
    }

    .support-container{
        display: flex;
        flex-direction: column;
        width: 90%;
        justify-content: center;
        margin-left: 5%;
        margin-bottom: 5%;
    }

    .support-container h4{
        font-size: 140%;
        color: white;
        margin-bottom: 5%;
    }

    .email{
        display: flex;
        flex-direction: column;
        width: 90%;
        justify-content: center;
        margin-left: 5%;
    }

    .email h4{
        font-size: 140%;
        color: white;
        margin-bottom: 5%;
    }

     #email-link{
        background-color: hwb(0 38% 62% / 0.653);
        padding: 2% 5%;
        border-radius: 5px;
        width: 90%;
        margin-top: -8%;
        margin-bottom: 5%;
    }
    .email a:hover{
        background-color: rgb(92, 179, 92);
    }
}

/* Phone */
		
@media (max-width: 768px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
        color: rgb(113, 113, 113);
    }
    nav{
        background-color: #f5f7fa;
    } 

    .logo {
        width: 25%;
        margin-left: 5%;
        margin-right: 8%;
        margin-top: 2%;
    }
     ul {
        border: rgb(6, 113, 15) solid;
        display: none;
        flex-direction: column;
        width: 30%;
        background-color: #2c902f;
        border-radius: 5px;
        position: absolute;
        padding: 5%;
        margin-left: 69%; 
    }
    
    ul li {
      
        width: 100%;
        text-align: center;
        margin: 10px 0;
        list-style: none;
    }
    .burger {
        margin-left: 90%;
        display: flex;
        width: 5%;
        margin-top: -7%;
    
    }
    ul li a {
        color: white;
        text-decoration: none;
        font-size: 120%;
        font-weight: 600;
    }
    #login {
        color: rgb(7, 35, 7); 
        font-weight: 700;
        font-size: 140%;
    }
    #login:hover{
        color: #0d5810;
    }
    
    #signup {
        color: white;
        background-color: rgb(21, 64, 21);
        padding: 10% 10%;
        border-radius: 6px;
    }
    #signup:hover{
        background-color: rgb(12, 83, 12);
    }
    
    #toggle:checked ~ ul {
        display: flex;
        flex-direction: column;
    }
    
    
    .section1 {
        background-color: #f5f7fa;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding-top: 10%;
        padding-bottom: 5%;
        margin: auto;  
    }
    
    .text-container {
        order: 2;
        width: 80%;
        justify-items: center;
        margin: auto;
        margin-top: 15%;
    }
    main .text-container p{
        font-size: 120%;
        margin-top: 5%;
        margin-bottom: 2%;
    }
    
    main h1, p{
        margin: 0;
        height: auto;
    }
    
    main h1{
        font-size: 260%;
    }
    .title{
        color: black;
    } 
    #from8{
        color: green;
    }
    main img{
        display: flex;
        border-radius: 8px;
        box-shadow: 0px 3px 5px 2px #74cc77;        
        width: 90%; 
        height: 120%;
        justify-content: center;
        object-fit: cover;
        margin: auto;
    }
    
    .main-image {
        width: 100%;
        height: 180px;
        margin: auto;
    }
    #register{
        color: white;
        text-decoration: none;
        background-color: green;
        margin-top:6%;
        border-radius: 6px;
        display: inline-block;
        padding: 10% 20%;
        font-size: 110%;
    }
    
    #register:hover{
        background-color: rgb(12, 83, 12);
    }
    
    .section2{
        display: flex;
        flex-direction: column;
        padding-bottom: 10%;
        padding-top: 5%;
    }

    .our-clients{
        display: flex;
        flex-direction: row;
        width: 90%;
        height: 50%;
        margin-bottom: 10%;
        margin-left: 10%;
    }
    .our-clients .our-clients-text{
        width: 200%;
    }

    .our-clients h3{
        color: #333;
        font-size: 180%;
        font-weight: 800;
    }
   .our-clients .section-logos{
    width: 25%;
    margin-right: 5%;
   }

    .logo2{
        width: 25%;
    }
    .our-clients p{
        font-size: 100%;
        width: 60%;
        padding-top: 5%;
    }
    .manage{
        width: 70%;
        height: 50%;
        margin-left: 10%;
    }
    .manage h3{
        color: #333;
        font-size: 180%;
        font-weight: 800;
    }
    .manage p{
        font-size: 100%;
        width: 90%;
        padding-top: 5%;   
    }
    
    .section3{
        display: flex;
        flex-direction: column;
        align-items: center; 
        margin-top: 5%;
        margin-bottom: 10%;
    }
    .section3 .membership, .national, .clubs{
        width: 80%;
        justify-items: center;  
        margin-bottom: 20%;  
    }
    .section3 .membership p, .national p, .clubs p{
        text-align: center;
        margin-top: 5%;
        font-size: 110%;
        width: 70%;
    }
    .section3 .membership h3, .national h3, .clubs h3{
        font-size: 160%;
        font-weight: 700;
    }
    .section3 .membership img, .national img, .clubs img{
        border: solid 3px #2c902f;
        border-radius: 10px;
        width: 120%;
        padding-left: 25px;
        margin-bottom: 10%;
    }
    
    .section4{
        display: flex;
        flex-direction: column;
        align-items: center; 
        margin-bottom: 2%;
    }
    .section4 .section4-image{
        display: flex; 
        justify-content: center;
    }

    .section4 .section4-image img{
        width: 60%;
        height: 20%;
    }

    .section4 .section4-text{
        width: 80%;  
    }
    .section4 .section4-text h2{
        width: 90%; 
        margin-bottom: 2%; 
        margin-top: 3%;
        font-size: 160%;
    }

    .section4 .section4-text p{
        font-size: 100%;
    }

    .section4  a{
        text-decoration: none;
        color: white;
        background-color: green;
        padding: 2% 2%;
        border-radius: 6px;
        margin-top: 3%; 
        display: inline-block;
    }
    
    .section5{
        background-color: #f5f7fa;
        display: flex;
        flex-direction: column;
        align-items: center;        
        width: 90%;
        margin-left: 5%;
        padding-bottom: 5%;
    }
    
    .section5 .text-container{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;  
        text-align: center;  
    }
    
    .section5 .text-container h2{
        width: 80%;
        font-size: 180%;
    }

    .section5 .text-container p{
        width: 100%;
        font-size: 80%;
        margin-top: 3%;
    }

    .stats-container{
        order: 2;
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-top: 5%;
    }

    .stats-container img{
        width: 40%;
    }
    .stats-container .stat2 img{
        width: 50%;
    }

    .stats-container .stat1-2, .stat3-4{
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin-bottom: 3%;
        margin-top: 5%;
        align-items: center;
    }
    .stats-container h3{
        font-size: 120%;
    }
    .stats-container .stat1, .stats-container .stat2, .stats-container .stat3, .stats-container .stat4{
        width: 25%;
    } 
    .stats-container p{
        font-size: 140%;
        font-weight: 800;
        color: #474646;
    }

    .section6{
        display: flex;
        flex-direction: column;
        align-items: center; 
        margin-bottom: 10%;
    }
    .section6 .section6-image{
        display: flex; 
        justify-content: center;
        margin-top: 5%;
    }

    .section6 .section6-image img{
        width: 50%;
        height: 20%;
    }

    .section6 .section6-text{
        width: 80%;  
    }
    .section6 .section6-text h2{
        width: 80%; 
        margin-bottom: 2%; 
        margin-top: 3%;
        font-size: 160%;
    }

    .section6 .section6-text p{
        font-size: 100%;
    }

    .section6  a{
        text-decoration: none;
        color: white;
        background-color: green;
        padding: 2% 2%;
        border-radius: 6px;
        margin-top: 3%; 
        display: inline-block;
    }
    
    .tim-smith{
        background-color: #f5f7fa;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5% 0;
        justify-content: center;
     
    } 
    .tim-smith .tim-smith-image{
        width: 40%;
        border-radius: 3%;
    }

    .tim-smith .tim-smith-image img{
        width: 90%;
        height: 200px;
        border-radius: 3%;
    }

    .tim-smith-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10%;
        margin-top: 5%;
    }
    .tim-smith p{
        font-family: sans-serif;
        width: 90%;
        word-spacing: 5%; 
        line-height: 1.4;    
        font-weight: 400;
        font-size: 90%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .tim-smith .tim-smith-text .bottom-image img{
        margin-top: 5%;
    }

    .tim-smith a{
        margin-left: 5%;
        text-decoration: none;
        color: rgb(67, 156, 67);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 100%;
        font-weight: 700;
    }
    .section7{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .section7 .title{
        font-size: 160%;
        font-weight: 700;
        color: #474646;
    }
    
    .title-box{
        padding: 5%;
        width: 100%;
        text-align: center;
    }
    .title-box p{
        font-size: 100%;
        margin-top: 5%;
        word-spacing: 2%; 
        line-height: 1.4;  
    }
    
    .cart-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .cart{
        width: 80%;
        margin-left: 10%;
        margin-bottom: 20%;
    }

    .cart > img {
        width: 100%;
    }
    
    .detail-box{
        margin-top: -25%;
        border-radius: 8px;
        padding: 10%;
        font-size: 40%;
        color: #717171;
        text-decoration: solid;
        background-color: #f5f7fa;
        width: 85%;
        text-align: center;
        margin-left: 7.5%;
        box-shadow: 10px 10px 5px hsl(0, 0%, 85%);
    }
    .detail-box h3{
        font-size: 300%;
    }

    .readmore{
        padding-top: 20%;
        padding-bottom: 5%;
    }
    .readmore a{
        text-decoration: solid;
        font-weight: 20;
        font-size: 300%;
        color: #4CAF50;
    }
    
    .Pellentesque{
        background-color: #f5f7fa;
        text-align: center;
        padding: 10%;
        padding-bottom: 10%;
        padding-top: 5%;
    }
    .Pellentesque h1{
        text-align: center;
        width: 100%;
        padding: 10%;
        font-weight: 600;
        font-size: 200%;
    }
    .Pellentesque a{
        background-color: #2e9532;
        text-decoration: none;
        color: white;
        padding: 3% 5%;
        border-radius: 6px;
        font-size: 100%;
    }
    .Pellentesque a:hover{
        background-color: rgb(12, 83, 12);
    }
    footer{
        background-color: #273339;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    footer a{
        text-decoration: none;
        font-size: 90%;
        padding: 1%;
    }
    .logo-container{
        margin-top: 5%;
        width: 90%;
        justify-content: center;
        margin-left: 5%;
        margin-bottom: 5%;
    }
    .logo-container p{
        font-size: 70%;
        font-weight: 50%;
        color: white;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .company-container{
        display: flex;
        flex-direction: column;
        width: 90%;
        justify-content: center;
        margin-left: 5%;
        margin-bottom: 5%;
    }

    .company-container h4{
        font-size: 120%;
        color: white;
        margin-bottom: 5%;
    }

    .support-container{
        display: flex;
        flex-direction: column;
        width: 90%;
        justify-content: center;
        margin-left: 5%;
        margin-bottom: 5%;
    }

    .support-container h4{
        font-size: 120%;
        color: white;
        margin-bottom: 5%;
    }

    .email{
        display: flex;
        flex-direction: column;
        width: 90%;
        justify-content: center;
        margin-left: 5%;
    }

    .email h4{
        font-size: 120%;
        color: white;
        margin-bottom: 5%;
    }

     #email-link{
        background-color: hwb(0 40% 60% / 0.653);
        padding: 2% 5%;
        border-radius: 5px;
        width: 60%;
        margin-top: -5%;
        margin-bottom: 5%;
    }
    .email a:hover{
        background-color: rgb(92, 179, 92);
    }
   
}






