/* Laptop */
		
@media (min-width: 1101px) {
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: rgb(113, 113, 113);
}
 
.container {
    width: 100%;
    background-color: #f5f7fa;
    margin: 0;
    justify-content: space-between;
    overflow: hidden;
}
 
.logo {
    width: 15%;
    margin-right: 5%;
}
.burger {
   display: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    width: 90%;
    margin: auto;
}

nav ul {
    list-style: none;
    width: 100%;
    text-align: center;
    
}

nav ul li {
    display: inline-block;
    margin: 5% 0%;
    margin-right: 0;
}

nav ul li a {
    padding-right: 15px;
    color: black;
    text-decoration: none;
}
nav ul li a:hover {
    color: rgb(35, 146, 35);
}


.title{
    color: black;
} 
#from8{
    color: green;
}

#login {
    color: rgb(32, 164, 32); 
    font-weight: 500;
}
#login:hover{
    color: #0d5810;
}

#signup {
    color: white;
    background-color: rgb(47, 150, 47);
    padding: 10px 20px;
    border-radius: 6px;
}
#signup:hover{
    background-color: rgb(12, 83, 12);
}

.section1 {
    background-color: #f5f7fa;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 5%;
    height: 100%;
    margin: auto;  
}

.text-container {
    width: 50%;
    margin-left: 10%;
    margin-top: 5%;
}

main h1, p{
    margin: 0;
    height: auto;
}

main h1{
    font-size: 400%;
}

#register{
    color: white;
    text-decoration: none;
    background-color: green;
    margin-top:30px;
    border-radius: 6px;
    display: inline-block;
    padding: 15px 35px;
}

#register:hover{
    background-color: rgb(12, 83, 12);
}

.section2{
    text-align: center;
}
.section2 p{
    color: grey;
}
.section2 h3{
    margin-top: 50px;
    font-size: 250%;
}
.section2 img{
    align-items: center;
    width: 80%;
}
#manage-title{
    width: 40%;
    text-align: center;
}
.section2 .manage-title-class{
    justify-items: center;
}

.section3{
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: space-around;
}
.section3 .title-box{
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 30px;
    align-items: center;
    text-align: center;
}
.section3 .title{
    font-size: 170%;
    font-weight: 700;
}

.section4{
    display: flex;
    align-items: center;
    padding: 50px;
    padding-left: 100px;
    justify-content: space-around;

} 
.section4 .title{
    font-size: 200%;
    font-weight: 700;
    width: 70%;
    margin-left: 100px;
}
.section4 p{
    margin-left: 100px;

}
.section4 img{
    width: 25%;
    height: 50%;
}

.section4 div a{
    margin-left: 100px;
    text-decoration: none;
    color: white;
    background-color: green;
    padding: 10px 20px;
    border-radius: 6px;
    margin-top: 20px; 
    display: inline-block;
}

.helping {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    padding: 60px;
    background-color: #f5f7fa;
}
 
.text-container h2 { 
    font-size: 36px; 
    color: #333; 
    margin-top: -20%;
} 
.text-container h2:nth-child(2) { 
    color: #4CAF50; 
    margin-top: -2px;
} 
.text-container p{ 
    font-size: 90%; 
    color: #666;
    margin-top: 5px;
}
.helping .stats-container .title{
    color: #676262;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    font-size: 120%;
    padding: 2px;
}

.stats-container {
    display: flex; 
    gap: 20px; 
    flex-wrap: wrap;
    margin-left: 20%;
}
.stat { 
    display: flex; 
    align-items: center; 
    width: 40%;
}
.stat img { 
    margin: 20px;
    width: 50px; 
    height: 40px
}

.design{
    display: flex;
    align-items: center;
    padding: 50px;
    padding-left: 100px;
    justify-content: space-around;
} 
.design .title{
    font-size: 200%;
    font-weight: 700;
    width: 70%;
    margin-left: 100px;
}

.design p{
    margin-left: 100px;
}
.design img{
    width: 25%;
    height: 50%;
}

.design div a{
    margin-left: 100px;
    text-decoration: none;
    color: white;
    background-color: green;
    padding: 10px 20px;
    border-radius: 6px;
    margin-top: 20px; 
    display: inline-block;
}
.tim-smith{
    background-color: #f5f7fa;
    display: flex;
    align-items: center;
    padding: 5% 0;
    justify-content: space-evenly;
 
} 
.tim-smith .img1{
    margin-left: 2%;
    margin-right: 10%;
    width: 25%;
    border-radius: 3%;
}
.tim-smith .img2{
    display: flex;
    align-items:  center;
    justify-content: space-between;
    margin-top: 5%;
}
.tim-smith p{
    font-family: sans-serif;
    width: 90%;
    word-spacing: 5%; 
    line-height: 1.4;    
    font-weight: 400;
    font-size: 100%;
}

.tim-smith a{
    width: 35%;
    text-decoration: none;
    color: rgb(67, 156, 67);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 70%;
    font-weight: 600;
}

.caring{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.caring .title{
    font-size: 180%;
}

.title-box{
    padding: 5%;
    width: 100%;
    text-align: center;
}
.title-box p{
    font-size: 100%;
    margin-top: 5%;
    word-spacing: 2%; 
    line-height: 1.4;  
}

.cart-container{
    display: flex;
    justify-content: center;
}

.cart{
    width: 20%;
    margin: 4%;
}
.cart > img {
    width: 100%;
}

.detail-box{
    margin-top: -25%;
    border-radius: 8px;
    padding: 10%;
    font-size: 75%;
    color: #717171;
    text-decoration: solid;
    background-color: #f5f7fa;
    width: 85%;
    text-align: center;
    margin-left: 7.8%;
    box-shadow: 5px 5px 5px hsl(0, 0%, 85%);
} 

.readmore{
    padding-top: 20%;
    padding-bottom: 5%;
}
.readmore a{
    text-decoration: solid;
    font-weight: 20;
    font-size: 100%;
    color: #4CAF50;
}

.Pellentesque{
    background-color: #f5f7fa;
    text-align: center;
    padding: 20px;
    padding-bottom: 50px;
}
.Pellentesque h1{
    text-align: center;
    width: 50%;
    padding: 50px;
    margin-left: 25%;
    font-weight: 700;
    font-size: 250%;
}
.Pellentesque a{
    background-color: #2e9532;
    text-decoration: none;
    color: white;
    padding: 18px 35px;
    border-radius: 6px;
}
.Pellentesque a:hover{
    background-color: rgb(12, 83, 12);
}
footer{
    background-color: rgb(39 51 57);
    padding-top: 3%;
    display: flex;
}

.footer-items{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

footer div img:first-child{
    width: 40%;
}
footer h4{
    padding-bottom: 30%;
    color: white;
    font-family: sans-serif;
    font-size: 120%;
    font-weight: 400;
    margin-right: 55%;
}
footer a{
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 80%;
    width: 200%;
    padding: 10%;
    font-weight: 50;
    text-decoration: none;
    margin-bottom: 2%;
}

.logo-container{
    margin-top: -5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
    padding: 5%;
    padding-bottom: 5%;
    justify-content: space-between;
}
.logo-container p{
    color: rgb(231, 231, 231);
    margin-top: 10%;
    font-family: sans-serif;
    font-size: 90%;
    word-spacing: 4%;
    line-height: 1.5;
    width: 100%;
}

.icons-container{
    width: 60%;
    margin-top: 20%;
    margin-left: -10%;
    display: flex;
    justify-content: space-evenly;
}
.icons-container .icons{
    width: 350%;
}
.support-container{
    margin-left: 40%;
    margin-top:-25%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.company-container{
    margin-top:-25%;
    margin-left: 40%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60%;
}

.email a{
    background-color: hwb(0 40% 60% / 0.653);
    text-decoration: none;
    color: rgba(255, 255, 255, 0.607);
    padding: 5% 10%;
    margin-top: -30%;
    padding-right: 20%;
    border-radius: 6px;
    margin-left: 50%;
    width: 100%;
}
.email a:hover{
    background-color: rgb(92, 179, 92);
}
.email {
    display: flex;
    flex-direction: column;
    align-items: end;
    height: 100%;
    width: 25%;
    margin-left: 20%;
    margin-top: -120px;
}


}

/* tablet */

@media (min-width:600px) and (max-width: 1100px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
        color: rgb(113, 113, 113);
    }
     
    .logo {
        width: 20%;
        margin-left: 5%;
        margin-right: 8%;
        margin-top: 2%;
    }
     ul {
        border: rgb(6, 113, 15) solid;
        display: none;
        flex-direction: column;
        width: 30%;
        background-color: #4CAF50;
        position: absolute;
        margin-top: 0%;
        margin-left: 70%;
        padding: 5%;
    }
    
    
    ul li {
      
        width: 100%;
        text-align: center;
        margin: 10px 0;
        list-style: none;
    }
    .burger {
        margin-left: 90%;
        display: flex;
        width: 5%;
        margin-top: -5%;
    
    }
    ul li a {
        color: white;
        text-decoration: none;
        font-size: 90%;
        font-weight: 600;
    }
    
    #toggle:checked ~ ul {
        display: flex;
        flex-direction: column;
    }
    
    #login {
        color: rgb(197, 249, 197); 
        font-weight: 400;
    }
    #login:hover{
        color: #0d5810;
    }
    
    #signup {
        color: white;
        background-color: rgb(47, 150, 47);
        padding: 5px 8px;
        border-radius: 6px;
    }
    #signup:hover{
        background-color: rgb(12, 83, 12);
    }
    
    
    .title{
        color: black;
    } 
    #from8{
        color: green;
    }
    
    
    .section1 {
        background-color: #f5f7fa;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding-top: 5%;
        padding-bottom: 5%;
        height: 100%;
        margin: auto;  
    }
    
    .text-container {
        width: 40%;
        margin-left: 10%;
        margin-top: 5%;
    }
    
    main h1, p{
        margin: 0;
        height: auto;
    }
    
    main h1{
        font-size: 250%;
    }
    
    #register{
        color: white;
        text-decoration: none;
        background-color: green;
        margin-top:6%;
        border-radius: 6px;
        display: inline-block;
        padding: 4% 6%;
        font-size: 80%;
    }
    
    #register:hover{
        background-color: rgb(12, 83, 12);
    }
    
    .section2{
        text-align: center;
        align-items: center;
    }
    .section2 p{
        color: grey;
    }
    .section2 h3{
        margin-top: 10%;
        font-size: 120%;
        text-align: center;
    }
    .section2 img{
        align-items: center;
        width: 80%;
    }
    
    .section3{
        display: flex;
        padding: 5%;
        align-items: center;
        justify-content: space-around;
    }
    .section3 .title-box{
        display: flex;
        flex-direction: column;
        width: 10%;
        padding: 5%;
        align-items: center;
        text-align: center;
    }
    .section3 .title{
        font-size: 110%;
        font-weight: 600;
        font-size: 90%;
        margin-left: -15%;
        padding-bottom: 10%;
        padding-top: 10%;
    }
    .section3 h3{
        width: 150%;
    }

    .section3 p{
        margin-left: -20%;
        font-size: 70%;
        text-align: center;
        width: 180%;
       
    }
    
    .section4{
        display: flex;
        align-items: center;
        padding: 5%;
        padding-left: 20%;
        justify-content: space-around;
    
    } 
    .section4 .title{
        font-size: 120%;
        font-weight: 400;
        width: 90%;
        margin-left: 10%;
        
    }
    .section4 p{
        margin-left: 10%;
        width: 90%;
        font-size: 80%;
    }
    .section4 img{
        width: 50%;
        padding-right: 5%;
    }
    
    .section4 div a{
        margin-left: 10%;
        text-decoration: none;
        color: white;
        background-color: green;
        padding: 2% 4%;
        border-radius: 6px;
        margin-top: 5%; 
        display: inline-block;
        font-size: 90%;
    }
    
    .helping {
        display: flex; 
        justify-content: space-around; 
        align-items: center; 
        padding: 5%;
        padding-top: 0;
        background-color: #f5f7fa;
    }
     
    .text-container h2 { 
        font-size: 120%; 
        font-weight: 600;
        font-size: 120%;
        color: #333;        
    } 
    .text-container h2:nth-child(2) { 
        color: #4CAF50; 
    } 
    .text-container p{
        margin-top: 5%;
        font-size: 70%; 
        color: #666;
        
    }
    .helping .stats-container .title{
        color: #676262;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 600;
        font-size: 80%;
        padding: 2%;

    }
    
    .stats-container {
        display: flex; 
        gap: 5%; 
        flex-wrap: wrap;
        margin-left: 10%;
    }
    .stat { 
        display: flex;
        align-items: center; 
        width: 40%;
    }
    .stat img { 
        margin: 5%;
        width: 15%; 
        height: 50%
    }
    .stat-title{
        margin-top: 5%;
        font-size: 70%;
    }
    
    .design{
        display: flex;
        align-items: center;
        padding: 5%;
        padding-left: 20%;
        justify-content: space-around;
    } 
    .design .title{
        font-size: 120%;
        font-weight: 400;
        width: 90%;
        margin-left: 10%;
    }
    
    .design p{
        margin-left: 10%;
        width: 90%;
        font-size: 80%;
    }
    .design img{
        width: 50%;
        padding-right: 5%;
    }
    
    .design div a{
        margin-left: 10%;
        text-decoration: none;
        color: white;
        background-color: green;
        padding: 2%4%;
        border-radius: 6px;
        margin-top: 5%; 
        display: inline-block;
        font-size: 90%;
    }
    .tim-smith{
        background-color: #f5f7fa;
        display: flex;
        align-items: center;
        padding: 5% 0;
        justify-content: space-evenly;
     
    } 
    .tim-smith .img1{
        margin-left: 2%;
        margin-right: 10%;
        width: 25%;
        border-radius: 3%;
    }
    .tim-smith .img2{
        display: flex;
        align-items:  center;
        justify-content: space-between;
        margin-top: 5%;
    }
    .tim-smith p{
        font-family: sans-serif;
        width: 90%;
        word-spacing: 5%; 
        line-height: 1.4;    
        font-weight: 400;
        font-size: 80%;
    }

    .tim-smith a{
        width: 35%;
        text-decoration: none;
        color: rgb(67, 156, 67);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 70%;
        font-weight: 600;
    }
    .caring{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .caring .title{
        font-size: 140%;
    }
    
    .title-box{
        padding: 5%;
        width: 100%;
        text-align: center;
    }
    .title-box p{
        font-size: 80%;
        margin-top: 5%;
        word-spacing: 2%; 
        line-height: 1.4;  
    }
    
    .cart-container{
        display: flex;
        justify-content: center;
    }
    
    .cart{
        width: 20%;
        margin: 4%;
    }
    .cart > img {
        width: 100%;
    }
    
    .detail-box{
        margin-top: -25%;
        border-radius: 8px;
        padding: 10%;
        font-size: 75%;
        color: #717171;
        text-decoration: solid;
        background-color: #f5f7fa;
        width: 85%;
        text-align: center;
        margin-left: 7.5%;
        box-shadow: 5px 5px 5px hsl(0, 0%, 85%);
    } 

    .readmore{
        padding-top: 20%;
        padding-bottom: 5%;
    }
    .readmore a{
        text-decoration: solid;
        font-weight: 20;
        font-size: 100%;
        color: #4CAF50;
    }
    
    .Pellentesque{
        background-color: #f5f7fa;
        text-align: center;
        padding: 10%;
        padding-bottom: 10%;
        padding-top: 5%;
    }
    .Pellentesque h1{
        text-align: center;
        width: 100%;
        padding: 10%;
        font-weight: 600;
        font-size: 180%;
    }
    .Pellentesque a{
        background-color: #2e9532;
        text-decoration: none;
        color: white;
        padding: 2% 2%;
        border-radius: 6px;
    }
    .Pellentesque a:hover{
        background-color: rgb(12, 83, 12);
    }
    
    footer{
        background-color: rgb(39 51 57);
        padding-top: 10%;
        padding-bottom: 5%;
        display: flex;
        justify-content: space-around;
    }

    footer div img:first-child{
        width: 60%;
        margin-top: -10%;
    }
    footer h4{
        padding-bottom: 30%;
        color: white;
        font-family: sans-serif;
        font-size: 80%;
        font-weight: 400;
    }
    footer a{
        color: rgb(255, 255, 255);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 50%;
        font-weight: 100;
        text-decoration: none;
        margin-bottom: 2%;
        padding: 5%;
        width: 300%;
    }
    
    .logo-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 40%;
        width: 25%;
        padding-bottom: 5%;
        padding-left: 5%;
        justify-content: space-between;
    }
    .logo-container p{
        color: rgb(231, 231, 231);
        font-family: sans-serif;
        font-size: 50%;
        word-spacing: 4%;
    }
    
    .icons-container{
        width: 80%;
        display: flex;
        justify-content: space-between;
    }
    .icons-container .icons{
        width: 100%;
    }

    .support-container{
        margin-left: 50%;
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .company-container{
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .footer-items{
        display: flex;
        justify-content: space-evenly;
    }
    .email {
        display: flex;
        flex-direction: column;
        width: 25%;
        height: 60%;
    }
     #email-link{
        background-color: hwb(0 40% 60% / 0.653);
        padding: 5% 5%;
        border-radius: 5px;
        padding-right: 20%;
        width: 80%;
        margin-top: -40%;
    }
    .email a:hover{
        background-color: rgb(92, 179, 92);
    }
}

/* Phone */
		
@media (max-width: 600px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
        color: rgb(113, 113, 113);
    }
     
    .logo {
        width: 20%;
        margin-left: 5%;
        margin-right: 8%;
        margin-top: 2%;
    }
     ul {
        border: rgb(6, 113, 15) solid;
        display: none;
        flex-direction: column;
        width: 40%;
        background-color: #4CAF50;
        position: absolute;
        margin-top: 0%;
        margin-left: 60%;
        padding: 5%;
    }
    
    
    ul li {
      
        width: 100%;
        text-align: center;
        margin: 10px 0;
        list-style: none;
    }
    .burger {
        margin-left: 90%;
        display: flex;
        width: 5%;
        margin-top: -7%;
    
    }
    ul li a {
        color: white;
        text-decoration: none;
        font-size: 90%;
        font-weight: 600;
    }
    #login {
        color: rgb(197, 249, 197); 
        font-weight: 400;
    }
    #login:hover{
        color: #0d5810;
    }
    
    #signup {
        color: white;
        background-color: rgb(47, 150, 47);
        padding: 2% 2%;
        border-radius: 6px;
    }
    #signup:hover{
        background-color: rgb(12, 83, 12);
    }
    
    #toggle:checked ~ ul {
        display: flex;
        flex-direction: column;
    }
    
    
    .section1 {
        background-color: #f5f7fa;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding-top: 5%;
        padding-bottom: 5%;
        height: 100%;
        margin: auto;  
    }
    .title{
        color: black;
    } 
    #from8{
        color: green;
    }
    
    .text-container {
        width: 50%;
        margin-left: 5%;
        margin-top: 5%;
    }
    
    main h1, p{
        margin: 0;
        height: auto;
    }
    
    main h1{
        font-size: 140%;
    }
    main img{
        width: 400%;
    }
    
    #register{
        color: white;
        text-decoration: none;
        background-color: green;
        margin-top:6%;
        border-radius: 6px;
        display: inline-block;
        padding: 4% 6%;
        font-size: 60%;
    }
    
    #register:hover{
        background-color: rgb(12, 83, 12);
    }
    
    .section2{
        text-align: center;
        align-items: center;
    }
    .section2 p{
        color: grey;
    }
    .section2 h3{
        margin-top: 10%;
        font-size: 100%;
        text-align: center;
    }
    .section2 img{
        align-items: center;
        width: 80%;
    }
    
    .section3{
        display: flex;
        padding: 5%;
        align-items: center;
        justify-content: space-around;
    }
    .section3 .title-box{
        display: flex;
        flex-direction: column;
        width: 10%;
        padding: 5%;
        align-items: center;
        text-align: center;
    }
    .section3 .title{
        font-weight: 600;
        font-size: 70%;
        margin-left: -15%;
        padding-bottom: 10%;
        padding-top: 10%;
    }
    .section3 h3{
        width: 150%;
    }

    .section3 p{
        margin-left: -20%;
        text-align: center;
        width: 100%;
       
    }
    
    .section4{
        display: flex;
        align-items: center;
        padding: 5%;
        padding-left: 20%;
        justify-content: space-around;
    
    } 
    .section4 .title{
        font-size: 90%;
        font-weight: 600;
        width: 90%;
        margin-left: 10%;
        
    }
    .section4 p{
        margin-left: 10%;
        width: 90%;
        font-size: 60%;
    }
    .section4 img{
        width: 50%;
        padding-right: 5%;
    }
    
    .section4 div a{
        margin-left: 10%;
        text-decoration: none;
        color: white;
        background-color: green;
        padding: 2% 2%;
        border-radius: 6px;
        margin-top: 5%; 
        display: inline-block;
        font-size: 60%;
    }
    
    .helping {
        display: flex; 
        justify-content: space-around; 
        align-items: center; 
        padding: 5%;
        padding-top: 0;
        background-color: #f5f7fa;
    }
     
    .text-container h2 { 
        font-weight: 600;
        font-size: 100%;
        color: #333;        
    } 
    .text-container h2:nth-child(2) { 
        color: #4CAF50; 
    } 
    .text-container p{
        margin-top: 5%;
        font-size: 50%; 
        color: #666;
        
    }
    .helping .stats-container .title{
        color: #676262;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 600;
        font-size: 60%;
        padding: 2%;

    }
    
    .stats-container {
        display: flex; 
        gap: 5%; 
        flex-wrap: wrap;
        margin-left: 10%;
    }
    .stat { 
        display: flex;
        align-items: center; 
        width: 40%;
    }
    .stat img { 
        margin: 5%;
        width: 15%; 
        height: 50%
    }
    .stat-title{
        margin-top: 5%;
        font-size: 70%;
    }
    
    .design{
        display: flex;
        align-items: center;
        padding: 5%;
        padding-left: 20%;
        justify-content: space-around;
    } 
    .design .title{
        font-size: 100%;
        font-weight: 400;
        width: 90%;
        margin-left: 5%;
    }
    
    .design p{
        margin-left: 5%;
        width: 90%;
        font-size: 60%;
    }
    .design img{
        width: 50%;
        padding-right: 5%;
    }
    
    .design div a{
        margin-left: 5%;
        text-decoration: none;
        color: white;
        background-color: green;
        padding: 2% 2%;
        border-radius: 6px;
        margin-top: 5%; 
        display: inline-block;
        font-size: 60%;
    }
    .tim-smith{
        background-color: #f5f7fa;
        display: flex;
        align-items: center;
        padding: 5% 0;
        justify-content: space-evenly;
     
    } 
    .tim-smith .img1{
        margin-left: 2%;
        margin-right: 10%;
        width: 30%;
        border-radius: 3%;
    }
    .tim-smith .img2{
        display: flex;
        align-items:  center;
        justify-content: space-between;
        margin-top: 5%;
    }
    .tim-smith p{
        font-family: sans-serif;
        width: 90%;
        word-spacing: 5%; 
        line-height: 1.4;    
        font-weight: 400;
        font-size: 50%;
    }

    .tim-smith a{
        width: 35%;
        text-decoration: none;
        color: rgb(67, 156, 67);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 40%;
        font-weight: 600;
    }
    .caring{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .caring .title{
        font-size: 100%;
    }
    
    .title-box{
        padding: 5%;
        width: 100%;
        text-align: center;
    }
    .title-box p{
        font-size: 50%;
        margin-top: 5%;
        word-spacing: 2%; 
        line-height: 1.4;  
    }
    
    .cart-container{
        display: flex;
        justify-content: center;
    }
    
    .cart{
        width: 20%;
        margin: 4%;
    }
    .cart > img {
        width: 100%;
    }
    
    .detail-box{
        margin-top: -25%;
        border-radius: 8px;
        padding: 10%;
        font-size: 40%;
        color: #717171;
        text-decoration: solid;
        background-color: #f5f7fa;
        width: 85%;
        text-align: center;
        margin-left: 7.5%;
        box-shadow: 5px 5px 5px hsl(0, 0%, 85%);
    } 

    .readmore{
        padding-top: 20%;
        padding-bottom: 5%;
    }
    .readmore a{
        text-decoration: solid;
        font-weight: 20;
        font-size: 100%;
        color: #4CAF50;
    }
    
    .Pellentesque{
        background-color: #f5f7fa;
        text-align: center;
        padding: 10%;
        padding-bottom: 10%;
        padding-top: 5%;
    }
    .Pellentesque h1{
        text-align: center;
        width: 100%;
        padding: 10%;
        font-weight: 600;
        font-size: 100%;
    }
    .Pellentesque a{
        background-color: #2e9532;
        text-decoration: none;
        color: white;
        padding: 2% 2%;
        border-radius: 6px;
        font-size: 60%;
    }
    .Pellentesque a:hover{
        background-color: rgb(12, 83, 12);
    }
    footer{
        background-color: rgb(39 51 57);
        padding-top: 10%;
        padding-bottom: 5%;
        display: flex;
        justify-content: space-around;
    }

    footer div img:first-child{
        width: 60%;
        margin-top: -10%;
    }
    footer h4{
        padding-bottom: 30%;
        color: white;
        font-family: sans-serif;
        font-size: 80%;
        font-weight: 400;
    }
    footer a{
        color: rgb(255, 255, 255);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 50%;
        font-weight: 100;
        text-decoration: none;
        margin-bottom: 2%;
        padding: 5%;
        width: 300%;
    }
    
    .logo-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 40%;
        width: 25%;
        padding-bottom: 5%;
        padding-left: 5%;
        justify-content: space-between;
    }
    .logo-container p{
        color: rgb(231, 231, 231);
        font-family: sans-serif;
        font-size: 50%;
        word-spacing: 4%;
    }
    
    .icons-container{
        width: 80%;
        display: flex;
        justify-content: space-between;
    }
    .icons-container .icons{
        width: 100%;
    }

    .support-container{
        margin-left: 50%;
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .company-container{
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .footer-items{
        display: flex;
        justify-content: space-evenly;
    }
    .email {
        margin-left: 10%;
        display: flex;
        flex-direction: column;
        width: 25%;
        height: 60%;
    }
     #email-link{
        background-color: hwb(0 40% 60% / 0.653);
        padding: 5% 5%;
        border-radius: 5px;
        width: 80%;
        margin-top: -40%;
    }
    .email a:hover{
        background-color: rgb(92, 179, 92);
    }
   
}






